<ion-view title = "Category" can-swipe-back="false">
  <ion-content class="category-page content-bg1 home-bg1 transparentenable" scroll="false">
           <div class="maincategorylist">

            <div class="firstcategorylist">
              <div class="firstoneitem">
                <button class="buttonArt" ng-click="goToArt()">
                  
                </button>
                <font color="red">Collectible/Art</font>
            </div>
              
              <div class="firsttwoitem">
                <button class="buttonElectro" ng-click="goToElectro()">
                  
                </button>
                <font color="red">Electronics</font>
            </div>

              <div class="firstthreeitem">
                <button class="buttonFashion" ng-click="goToFashion()">
                  
                </button>
                <font color="red">Fashion</font>
            </div>
          </div>
    
          <div class="secondcategorylist">
              <div class="secondoneitem">
                <button class="buttonSport" ng-click="goToSport()">
                  
                </button>
                <font color="red">Sporting goods</font>
            </div>

              <div class="secondtwoitem">
                <button class="buttonToy" ng-click="goToToy()">
                  
                </button>
                <font color="red">Toys</font>
            </div>

              <div class="secondthreeitem">
                <button class="buttonGift" ng-click="goToGift()">
                  
                </button>
                <font color="red">Deals/Gifts</font>
            </div>
              
          </div>
        
        </div>
      
        </ion-content>
</ion-view>
