<ion-view title = "forget" hide-nav-bar="true">
    <ion-content class="forget-page" scroll = "false">
          <div class="forgetlabel">
                Enter your email to reset your password

                <input class = "usermailaddress" type="text" placeholder="Your Email address" ng-model="data.retrivemailtext">
                
                <button class="btnresetpassword" ng-click="resetPassword(data)">
                  Reset Password
                </button>

                <button class="btngotologin" ng-click="gotoLogin()">
                  Back to log in
                </button>
          </div>
    </ion-content>
</ion-view>
