<ion-view title="fetchcategoryitem" can-swipe-back="false" cache-view = "false">
    <ion-header-bar align-title="center" class="itempreviewbar bar-assertive">
        <h1 class="title" style="text-align:center;">Help</h1>
    </ion-header-bar>

    <ion-content class="padding">
<!--         adsfadfasdfadsfasdf
        asdfasdfasdfasdfasdf
        asdfasdfadfasdfasdfadf
        adsfasdfasdf
        sdfasdfasdfasdfasdfasdf
        asdfasdfasdfasdfsdfasdfasdf
        adsfasdfasdfasdfasdfasdfasdfasdfasdf
        asdfasdfasdfasdfasdfasdfasdfasdf
        asdfasdfasdfasdfasdfasdfasdf
 -->

        <h4 style="text-align:left; color:black;">TERMS OF SERVICE</h4>
        <h6 style="text-align:left; color:grey; border-bottom:1px solid; padding-bottom: 10px;">Updated 19 Dec 2015</h6>

        <h5 style="text-align:left; color:black;">1. Welcome to Raffle</h5>
        <h6 style="text-align:left; color:grey; padding-left: 15px;">1. Raffle operates a social marketplace which allows you to buy and sell items using our website or the Raffle application which we make available for download through an app store on your mobile device(the "Service")</h6>
        <h6 style="text-align:left; color:grey; padding-left: 15px;">2. The Service is operated by Raffle Limited("we","our", or "us").</h6>

        <h5 style="text-align:left; color:black;">2. Your relationship with us</h5>
        <h6 style="text-align:left; color:grey; padding-left: 15px;">1. This document and any documents referred to within it(collectively, the "Terms of Service") set out the terms of your relationship with us. It is important that you read and understand the terms of your relationship with us. It is improtant that you read and understand the Terms of Service before using the Service.If there is anything iwthin them that you do not understand, then please contact us at support@raffle.com to discuss what this means for you</h6>

        <h6 style="text-align:left; color:grey; padding-left: 15px;">2. By setting up an account with us or using and accessing the Service you agree to these Terms of Service you agree to these Terms of Service. If you do not agree to these Terms of Service, Please do not browse or otherwise access or use the Service.</h6>


        <h5 style="text-align:left; color:black;">3. Information about us</h5>
        <h6 style="text-align:left; color:grey; padding-left: 15px;">1. Raffle Limited is incorporated and registered in England and Wales under company number. Our registered office is at...</h6>

        <h5 style="text-align:left; color:black;">4. Information about you</h5>
        <h6 style="text-align:left; color:grey; padding-left: 15px;">1. your privacy is important to us. You should read our Privacy Policy to understand how we collect, use and share information about you</h6>


        <h5 style="text-align:left; color:black;">5. Setting up an account</h5>
        <h6 style="text-align:left; color:grey; padding-left: 15px;">1. This document and any documents referred to within it(collectively, the "Terms of Service") set out the terms of your relationship with us. It is important that you read and understand the terms of your relationship with us. It is improtant that you read and understand the Terms of Service before using the Service.If there is anything iwthin them that you do not understand, then please contact us at support@raffle.com to discuss what this means for you</h6>


        <h5 style="text-align:left; color:black;">6. Raffle Marketplace</h5>
        <h6 style="text-align:left; color:grey; padding-left: 15px;">1. This document and any documents referred to within it(collectively, the "Terms of Service") set out the terms of your relationship with us. It is important that you read and understand the terms of your relationship with us. It is improtant that you read and understand the Terms of Service before using the Service.If there is anything iwthin them that you do not understand, then please contact us at support@raffle.com to discuss what this means for you</h6>

        <h5 style="text-align:left; color:black;">7. Use of Raffle wallet</h5>
        <h6 style="text-align:left; color:grey; padding-left: 15px;">1. This document and any documents referred to within it(collectively, the "Terms of Service") set out the terms of your relationship with us. It is important that you read and understand the terms of your relationship with us. It is improtant that you read and understand the Terms of Service before using the Service.If there is anything iwthin them that you do not understand, then please contact us at support@raffle.com to discuss what this means for you</h6>

    </ion-content>
</ion-view>  